@use "sass:map";
@use "../../tokens/component-tokens/md-comp-icon-button-xsmall.scss" as *;
@use "../../tokens/component-tokens/md-comp-icon-button-small.scss" as *;
@use "../../tokens/component-tokens/md-comp-icon-button-medium.scss" as *;
@use "../../tokens/component-tokens/md-comp-icon-button-large.scss" as *;
@use "../../tokens/component-tokens/md-comp-icon-button-xlarge.scss" as *;
@use "../../util.scss" as *;

@mixin icon-button-sizes {
  $sizes: (
    xsmall: $md-comp-icon-button-xsmall,
    small: $md-comp-icon-button-small,
    medium: $md-comp-icon-button-medium,
    large: $md-comp-icon-button-large,
    xlarge: $md-comp-icon-button-xlarge,
  );

  @each $name, $token in $sizes {
    &.MdcIconButton-#{$name} {
      @include apply-height(get-token($token, container-height));
      @include apply-border-width(get-token($token, outlined-outline-width, 0));

      & > .MdcIconButton-icon {
        width: get-token($token, icon-size);
      }

      &.MdcIconButton-narrow {
        /* TODO: helpers for padding */
        padding-inline-start: calc(
          get-token($token, narrow-leading-space) - var(
              --md-runtime-ripple-border-width,
              0px
            )
        );
        padding-inline-end: calc(
          get-token($token, narrow-trailing-space) - var(
              --md-runtime-ripple-border-width,
              0px
            )
        );
      }
      &.MdcIconButton-default {
        padding-inline-start: calc(
          get-token($token, default-leading-space) - var(
              --md-runtime-ripple-border-width,
              0px
            )
        );
        padding-inline-end: calc(
          get-token($token, default-trailing-space) - var(
              --md-runtime-ripple-border-width,
              0px
            )
        );
      }
      &.MdcIconButton-wide {
        padding-inline-start: calc(
          get-token($token, wide-leading-space) - var(
              --md-runtime-ripple-border-width,
              0px
            )
        );
        padding-inline-end: calc(
          get-token($token, wide-trailing-space) - var(
              --md-runtime-ripple-border-width,
              0px
            )
        );
      }

      border-radius: get-token($token, container-shape-square);
      &.MdcIconButton-toggle.MdcIconButton-selected {
        border-radius: get-token($token, selected-container-shape-square);
      }

      &.MdcIconButton-round {
        border-radius: get-token($token, container-shape-round);
        &.MdcIconButton-toggle.MdcIconButton-selected {
          border-radius: get-token($token, selected-container-shape-round);
        }
      }
      &:active {
        border-radius: get-token($token, pressed-container-shape);
      }
    }
  }
}
