@use "../../tokens/component-tokens/md-comp-button.scss" as *;
@use "../../util.scss" as *;
@use "../../tokens/sys-tokens.scss" as *;
@use "./button-sizes.scss" as *;
@use "./button-types.scss" as *;

/* TODO: correct animation easings */
.MdcButton {
  border: none;
  @include apply-motion(
    $md-sys-motion-spring-fast-spatial,
    border-radius,
    padding-inline
  );

  position: relative;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  display: flex;
  align-items: center;
  gap: get-token($md-comp-button, icon-label-space);

  &.MdcButton-disabled {
    pointer-events: none;
  }

  @include apply-focus-ring-indicator($md-comp-button);

  @include button-sizes;
  @include button-types;

  @include connected-button-group-corners(MdcButton-toggle);
}
