@use "../../tokens/component-tokens/md-comp-badge.scss" as *;
@use "../../util.scss" as *;

.MdcBadge {
  position: relative;
  display: inline-block;

  & > .MdcBadge-badge {
    position: absolute;
    z-index: 1;

    padding-inline: 4px;

    background-color: rgb($md-comp-badge-large-color);
    border-radius: $md-comp-badge-large-shape;
    @include apply-height($md-comp-badge-large-size);
    color: rgb($md-comp-badge-large-label-text-color);

    top: #{14-16}px;
    inset-inline-end: #{12-16}px;

    min-width: 16px;
    max-width: 34px;

    white-space: nowrap;
    user-select: none;

    @include apply-typescale($md-comp-badge-large-label-text-type);

    &:empty {
      top: 0;
      inset-inline-end: 0;
      padding: 0;
      min-width: initial;
      width: 6px;
      height: 6px;
      transform: none;
    }
  }
}
