@use "../../util.scss" as *;
@use "../../tokens/sys-tokens.scss" as *;

/* TODO: old ripple spec used? */
.MdcRippleLayer {
  position: absolute;
  inset: 0;

  & .MdcRipple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(#000, 0.1);
    opacity: 1;
    pointer-events: none;
    /* TODO: maybe use resize observer for those when in a button group? */
    width: var(--ripple-size);
    height: var(--ripple-size);
    left: var(--ripple-position-x);
    top: var(--ripple-position-y);

    @include apply-motion(
      $md-sys-motion-spring-slow-effects,
      transform,
      opacity
    );

    transform: scale(1);
    @starting-style {
      transform: scale(0);
    }

    .MdcButtonGroup & {
      transform: scale(1.5);
      @starting-style {
        transform: scale(0);
      }
    }

    &.MdcRipple-fading-out {
      opacity: 0;
    }
  }
}
