@use "../../util.scss" as *;
@use "../../tokens/sys-tokens.scss" as *;

/* TODO: deduplicate positioning in layers */
.MdcStateLayer {
  position: absolute;
  inset: calc(var(--md-runtime-ripple-border-width, 0px) * -1);
  pointer-events: none;
  background-color: var(--state-layer-color, none);
  opacity: var(--state-layer-opacity, 0);
  border-radius: inherit;
  border-width: inherit;
  border-color: transparent;
  @include apply-motion($md-sys-motion-spring-fast-effects, opacity);
}
