@use "../../util.scss" as *;
@use "../../tokens/sys-tokens.scss" as *;

/* TODO: deduplicate positioning in layers */
.MdcStateLayer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-color, none);
  opacity: var(--state-layer-opacity, 0);
  @include apply-motion($md-sys-motion-spring-fast-effects, opacity);
}
